/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'scRNA-full-length'
  description = 'Nextflow pipeline for Flashseq/SmartSeq3 data analysis'
  homePage = 'https://gitlab.curie.fr/sc-platform/smartseq3'
  author = 'L. Hadj Abed, N. Servant'
  version = '1.3.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}

/**********
 * Params *
 **********/

params {
  help = false
  name = false

  // Analysis parameters
  genome = false
  samplePlan = null
  reads = null
  protocol = false // smartseq3 or flashseq

  // Skips
  skipMultiQC = false
  skipSoftVersions = false
  skipGeneCov = false
  skipSatCurves = false
  //skipBigWig = false

  // Design
  umi_size=8

  // Output directories
  multiqcConfig = "$projectDir/assets/multiqcConfig.yaml"
  metadata = "$projectDir/assets/metadata.tsv"
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

