/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'scRNA-full-length'
  description = 'Nextflow pipeline for Flashseq/SmartSeq3 data analysis'
  homePage = 'https://gitlab.curie.fr/sc-platform/smartseq3'
  author = 'L. Hadj Abed, N. Servant'
  version = '1.3.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}

/**********
 * Params *
 **********/

params {
  help = false
  name = false

  // Analysis parameters
  genome = false
  reads = null
  readDir = null
  samplePlan = null

  batchSize=2

  protocol = false // smartseq3 or flashseq

  // Skips
  skipMultiQC = false
  skipSoftVersions = false
  skipGeneCov = false
  skipSatCurves = false
  //skipBigWig = false

  // Design
  umi_size=8

  // Output directories
  multiqcConfig = "$projectDir/assets/multiqcConfig.yaml"
  metadata = "$projectDir/assets/metadata.tsv"
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
  tmpDir = './'

}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  apptainer {
    includeConfig 'conf/apptainer.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Annotation paths
includeConfig 'conf/genomes.config'

// Load modules
includeConfig 'conf/modules.config'
