docker {
  enabled = true
  runOptions = "${params.geniac.containers?.dockerRunOptions}"
}

process {
  withLabel:cutadapt{ container = "cutadapt" }
  withLabel:featurecounts{ container = "featurecounts" }
  withLabel:multiqc{ container = "multiqc" }
  withLabel:unix{ container = "unix" }
  withLabel:python{ container = "python" }
  withLabel:rseqc{ container = "rseqc" }
  withLabel:samtools{ container = "samtools" }
  withLabel:star{ container = "star" }
  withLabel:umiTools{ container = "umitools" }
  withLabel:fastqc{ container = "fastqc" }
  withLabel:seqkit{ container = "seqkit" }
  withLabel:qualimap{ container = "qualimap" }

}
