docker {
  enabled = true
  runOptions = "${params.geniac.containers?.dockerRunOptions}"
}

process {
  withLabel:cutadapt{ container = "cutadapt" }
  withLabel:featureCounts{ container = "featurecounts" }
  withLabel:multiqc{ container = "multiqc" }
  withLabel:onlyLinux{ container = "onlylinux" }
  withLabel:preseq{ container = "preseq" }
  withLabel:python{ container = "python" }
  withLabel:rseqc{ container = "rseqc" }
  withLabel:samtools{ container = "samtools" }
  withLabel:star{ container = "star" }
  withLabel:umiTools{ container = "umitools" }
  withLabel:fastqc{ container = "fastqc" }

}
