params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    path = params.globalPath ?: "${projectDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"
    apptainerImagePath = params.apptainerImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      multiqc = "${projectDir}/recipes/conda/multiqc.yml"
      python = "${projectDir}/recipes/conda/python.yml"
      umiTools = "${projectDir}/recipes/conda/umiTools.yml"
      cutadapt = "${projectDir}/recipes/conda/cutadapt.yml"
      featurecounts = "${projectDir}/recipes/conda/featurecounts.yml"
      samtools = "${projectDir}/recipes/conda/samtools.yml"
      deeptools = "${projectDir}/recipes/conda/deeptools.yml"
      rseqc = "${projectDir}/recipes/conda/rseqc.yml"
      R = "${projectDir}/recipes/conda/R.yml"
      star = "${projectDir}/recipes/conda/star.yml"
      preseq = "${projectDir}/recipes/conda/preseq.yml"
      seqkit = "${projectDir}/recipes/conda/seqkit.yml"
      qualimap = "${projectDir}/recipes/conda/qualimap.yml"
    }
    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      apptainerRunOptions = ""
      dockerRunOptions = ""
      podmanRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependencies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      //cmd {
      //    post {
      //        fastqc = ['echo Hello', 'echo \"This is fastqc tool!\"']
      //    }

      //    envCustom {
      //        fastqc = ['FASTQC_VAR0=\"fastqc tool variable0\"', 'FASTQC_VAR1=\"fastqc tool variable1\"']
      //    }
      //}

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}
