params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"
  tmpDir = params.tmpDir ?: './'
  outDir = params.outDir ?: './'
  //readsDir = params.reads ? params.reads.toString().substring(0, params.reads.lastIndexOf("/")) : ''

  geniac {

    // Installation paths
    path = params.globalPath ?: "${projectDir}/../path/bin"
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"
    

    tools {
      // Add your tools available in conda here, for example:
      multiqc = "${projectDir}/recipes/conda/multiqc.yml"
      python = "${projectDir}/recipes/conda/python.yml"
      umiTools = "${projectDir}/recipes/conda/umiTools.yml"
      cutadapt = "${projectDir}/recipes/conda/cutadapt.yml"
      featurecounts = "${projectDir}/recipes/conda/featurecounts.yml"
      samtools = "${projectDir}/recipes/conda/samtools.yml"
      rseqc = "${projectDir}/recipes/conda/rseqc.yml"
      star = "${projectDir}/recipes/conda/star.yml"
      seqkit = "${projectDir}/recipes/conda/seqkit.yml"
      qualimap = "${projectDir}/recipes/conda/qualimap.yml"
      fastqc = "${projectDir}/recipes/conda/fastqc.yml"
      onlyLinux = "${projectDir}/recipes/conda/onlyLinux.yml"
    }
    // options for singularity and docker containers
    containers {
      singularityRunOptions = "" 
      dockerRunOptions = "-v \"\$PWD\":/tmp"

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      //yum { }
      //git { }
    }
  }
}
