/*
 * Define modules options
 */


process {

  /* Preprocessing ********************/
  //---------------------------------------------------------------

  withName: 'umiExtract*' {
    publishDir = [
      [
        path: { "${params.outDir}/preprocessing/umiExtract" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]
    ext.args = { 
      params.protocol == "flashseq" ? "--extract-method=regex --bc-pattern='(?P<discard_1>.*AGAGT)(?P<umi_1>.{$params.umi_size})(?P<discard_2>GG).*'" : "--extract-method=regex --bc-pattern='(?P<discard_1>.*GCAATG)(?P<umi_1>.{$params.umi_size})(?P<discard_2>GG).*'"
    }
    ext.prefix = { "${meta.part} > 1" ? "${meta.id}_chunk${meta.chunk}" : "${meta.id}" } // ça ne marche pas car pour le test ${meta.part}==1 mais retourne qd mm le cas "part"
  }

  withName: 'concatFastq' {
    publishDir = [
      [
        path: { "${params.outDir}/preprocessing/concatFastq" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]
    ext.prefix = { "${meta.part} > 1" ? "${meta.id}_chunk${meta.chunk}" : "${meta.id}" } // ça ne marche pas car pour le test ${meta.part}==1 mais retourne qd mm le cas "part"
  }

  /*withName: 'seqkitSeq' {
    ext.args = "--name"
    ext.prefix = { "${meta.part} > 1" ? "${meta.id}_chunk${meta.chunk}" : "${meta.id}" }
  }*/

  withName: 'cutadapt' {
    publishDir = [
      [
        path: { "${params.outDir}/preprocessing/cutadapt" },
        mode: 'copy',
        pattern: "*log"
      ],
      [
        path: { "${params.outDir}/preprocessing/cutadapt" },
        mode: 'copy',
        pattern: "*fastq.gz",
      ]
    ]
    ext.args = {[
      params.protocol == "flashseq" ? "-g A{30}GTACTCTGCGTTGATACCACTGCTT -g A{20}GTACTCTGCGTTGATACCACTGCTT -g A{15}GTACTCTGCGTTGATACCACTGCTT" : "",
      params.protocol == "flashseq" ? "-G A{30}GTACTCTGCGTTGATACCACTGCTT -G A{20}GTACTCTGCGTTGATACCACTGCTT -G A{15}GTACTCTGCGTTGATACCACTGCTT" : "",
      params.protocol == "smartseq3"  ? "-a A{30}TCGTATGCTGCT -a A{20}TCGTATGCTGCT" : "",
      params.protocol == "smartseq3" ? "-A A{30}TCGTATGCTGCT -A A{20}TCGTATGCTGCT" : "",
      params.protocol == "flashseq" ? "-g AAGCAGTGGTATCAACGCAGAGTACT{30} -g AAGCAGTGGTATCAACGCAGAGTACT{20} -g AAGCAGTGGTATCAACGCAGAGTACT{15}" : "-g ATCAGCAGCATACGAT{30} -g ATCAGCAGCATACGAT{20}",
      params.protocol == "flashseq" ? "-G AAGCAGTGGTATCAACGCAGAGTACT{30} -G AAGCAGTGGTATCAACGCAGAGTACT{20} -G AAGCAGTGGTATCAACGCAGAGTACT{15}" : "-G ATCAGCAGCATACGAT{30} -G ATCAGCAGCATACGAT{20}",
      "--minimum-length=20"
    ].join(' ').trim() }
    ext.prefix = { "${meta.id}_${meta.umi}" }
  }
  
  /* Alignment ********************/
  withName: 'starAlign' {
    publishDir = [
      [
        path: { "${params.outDir}/alignment" },
        mode: 'copy',
        pattern: "*out"
      ]
    ]
    ext.args = '--outFilterMultimapNmax 1 --limitSjdbInsertNsj 2000000 --outFilterIntronMotifs RemoveNoncanonicalUnannotated --outSAMtype BAM SortedByCoordinate --outSAMunmapped Within'
    ext.prefix = { "${meta.part} > 1" ? "${meta.id}_${meta.umi}_chunk${meta.chunk}" : "${meta.id}_${meta.umi}" }
  }

  withName: 'samtoolsIndexStar' {
      ext.prefix = { "${meta.part} > 1" ? "${meta.id}_${meta.umi}_chunk${meta.chunk}" : "${meta.id}_${meta.umi}" }
    }

  /* BC info ********************/
  withName: 'barcodeListPerBatch' {
      publishDir = [
        path: { "${params.outDir}/barcodePerBatch" },
        mode: 'copy',
        pattern: "*.txt",
      ]
      ext.prefix = { "${meta.part} > 1" ? "${meta.id}_${meta.umi}_chunk${meta.chunk}" : "${meta.id}_${meta.umi}" }
  }

  withName: 'barcode2tag' {
    publishDir = [
      path: { "${params.outDir}/preprocessing/alignment" },
      mode: 'copy',
      pattern: "*.bam",
    ]
    ext.prefix = { "${meta.part} > 1" ? "${meta.id}_${meta.umi}_chunk${meta.chunk}" : "${meta.id}_${meta.umi}" }
    ext.args = { "--tag ${params.barcodeTag}" }
  }

  /* Merge & filter unaligned ********************/
  withName: 'samtoolsMerge' {
    ext.prefix = { "${meta.part} > 1" ? "${meta.id}_${meta.umi}_chunk${meta.chunk}" : "${meta.id}_${meta.umi}" }
  }

  withName: 'filterUnaligned' {
    publishDir = [
      path: { "${params.outDir}/preprocessing/alignment" },
      mode: 'copy',
      pattern: "*.bam"
    ]
    ext.prefix = {"${meta.id}_${meta.umi}_unaligned" }
    // Singleton == one of the two reads is unmapped
    // -F remove 0x0004=unmapped, 0x0008=mate unmapped
    // -f keep 0x001=read paired
    // MAPQ (mapping quality - describes the uniqueness of the alignment, 0=non-unique, >10 probably unique)
    ext.args = [
      params.rmSingleton ? "-F 0x0004 -F 0x0008 -f 0x0001" : "-F 0x0004",
      params.mapq > 0 ? "-q ${params.mapq}" : ""
    ].join(' ').trim()
  }

  /* Umi part ********************/
  //---------------------------------------------------------------
  withName: 'featureCountsUmis' {
    publishDir = [
      [
        path: { "${params.outDir}/umi/featureCounts" },
        mode: 'copy',
        pattern: "*.bam"
      ],
      [
        path: { "${params.outDir}/umi/featureCounts" },
        mode: 'copy',
        pattern: "*.log"
      ],
      [
        path: { "${params.outDir}/umi/featureCounts" },
        mode: 'copy',
        pattern: "*.csv"
      ],
      [
        path: { "${params.outDir}/umi/featureCounts" },
        mode: 'copy',
        pattern: "*.summary"
      ]
    ]
    ext.args = "-R BAM -g gene_name"
    ext.prefix = { "${meta.id}_${meta.umi}" }
  }

  withName: 'umitoolsDedup' {
    publishDir = [
      [
      path: { "${params.outDir}/umi" },
      mode: 'copy',
      pattern: "*.bam"
      ],
      [
        path: { "${params.outDir}/umi" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]
    ext.args = "--method=directional --per-cell --per-gene --gene-tag=XT --assigned-status-tag=XS"
    ext.prefix = { "${meta.id}_${meta.umi}" }
  }

  withName: 'umitoolsCountUmis' {
    publishDir = [
      [
      path: { "${params.outDir}/umi" },
      mode: 'copy',
      pattern: "*.tsv.gz"
      ],
      [
        path: { "${params.outDir}/umi" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]
    ext.args = "--method=directional --per-cell --per-gene --gene-tag=XT --assigned-status-tag=XS"
    ext.prefix = { "${meta.id}_${meta.umi}" }
  }

  /* Non Umi part ********************/
  //---------------------------------------------------------------

  withName: 'samtoolsMarkdup' {
    publishDir = [
      [
      path: { "${params.outDir}/nonUmi/PCRdupliactes" },
      mode: 'copy',
      pattern: "*.log"
      ],
      [
        path: { "${params.outDir}/nonUmi/PCRdupliactes" },
        mode: 'copy',
        pattern: "*.bam"
      ]
    ]
  }

  withName: 'samtoolsFlagstat' {
    publishDir = [
      [
        path: { "${params.outDir}/nonUmi/PCRdupliactes" },
        mode: 'copy',
        pattern: "*flagstats"
      ]
    ]
  }

  withName: 'filterMarkdup' {
    publishDir = [
      path: { "${params.outDir}/nonUmi/PCRdupliactes" },
      mode: 'copy',
      pattern: "*.bam"
    ]
    ext.prefix = { "${meta.id}_${meta.umi}_pcrdup" }
    // -F remove 0x0400=PCR dup
    ext.args = [
      params.keepDups ? "" : "-F 0x0400",
    ].join(' ').trim()
  }

  withName: 'featureCountsNoUmis' {
    publishDir = [
      [
        path: { "${params.outDir}/nonUmi" },
        mode: 'copy',
        pattern: "*.bam"
      ],
      [
        path: { "${params.outDir}/nonUmi/featureCounts" },
        mode: 'copy',
        pattern: "*.log"
      ],
      [
        path: { "${params.outDir}/nonUmi/featureCounts" },
        mode: 'copy',
        pattern: "*.csv"
      ],
      [
        path: { "${params.outDir}/nonUmi/featureCounts" },
        mode: 'copy',
        pattern: "*.summary"
      ]
    ]
    ext.args = "-R BAM -g gene_name --byReadGroup"
    ext.prefix = { "${meta.id}_${meta.umi}" }
  }

  withName: 'filterUnassigned' {
    publishDir = [
      path: { "${params.outDir}/nonUmi" },
      mode: 'copy',
      pattern: "*.bam"
    ]
    ext.prefix = {"${meta.id}_${meta.umi}_unassign" }
    ext.args = "-d XS:Assigned" 
  }

  withName: 'featureCountsMatrix' {
    publishDir = [
      path: { "${params.outDir}/nonUmi" },
      mode: 'copy',
      pattern: "*_matrix.csv"
    ]
  }

  /* Metrics & graphs ********************/
  withName: 'preseq' {
    publishDir = [
      path: { "${params.outDir}/mqc_files" },
      mode: 'copy',
      pattern: "*curve.txt"
    ]
    ext.args = "-e 200e+06" 
  }


  withName:'getSoftwareVersions' {
    publishDir = [
      path: { "${params.outDir}/softwareVersions" },
      mode: 'copy'
    ]
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }

}