/*
 * Define modules options
 */


process {

  /* Preprocessing ********************/
  //---------------------------------------------------------------

  withName: 'seqkitFx2tab' {
    ext.prefix = { 
      meta.totchunk != null && meta.totchunk > 1 ? "${meta.id}_chunk${meta.chunk}" : 
      ( meta.totchunk == null && params.sampleDescription != null ? "${meta.id}_${meta.batch}" : "${meta.id}" )
    }  
  }

  withName: 'umitoolsExtract' {
    publishDir = [
      [
        path: { "${params.outDir}/preprocessing/umitoolsExtract" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]

    ext.args = {[ 
      "--extract-method=regex --either-read ",
      params.protocol == "liveseq"
        ? "--bc-pattern='(?P<discard_1>.*$params.tag_umitools)(?P<umi_1>.{$params.umi_size})(?P<discard_2>CT(?:AACG{0,3})?).*' --bc-pattern2='(?P<discard_1>.*$params.tag_umitools)(?P<umi_1>.{$params.umi_size})(?P<discard_2>CT(?:AACG{0,3})?).*'"
        : "--bc-pattern='(?P<discard_1>.*$params.tag_umitools)(?P<umi_1>.{$params.umi_size})(?P<discard_2>GG).*' --bc-pattern2='(?P<discard_1>.*$params.tag_umitools)(?P<umi_1>.{$params.umi_size})(?P<discard_2>GG).*' "
    ].join(' ').trim() }

    ext.prefix = { 
      meta.totchunk != null && meta.totchunk > 1 ? "${meta.id}_chunk${meta.chunk}" : 
      ( meta.totchunk == null && params.sampleDescription != null ? "${meta.id}_${meta.batch}" : "${meta.id}" )
    }  
  }

  withName: 'concatFastq' {
    publishDir = [
      [
        path: { "${params.outDir}/preprocessing/concatFastq" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]
    ext.prefix = { 
      meta.totchunk != null && meta.totchunk > 1 ? "${meta.id}_chunk${meta.chunk}" : 
      ( meta.totchunk == null && params.sampleDescription != null ? "${meta.id}_${meta.batch}" : "${meta.id}" )
    } 
  }

  /*withName: 'seqkitSeq' {
    ext.args = "--name"
    ext.prefix = { "${meta.totchunk} > 1" ? "${meta.id}_chunk${meta.chunk}" : "${meta.id}" }
  }*/

  withName: 'cutadapt' {
    publishDir = [
      [
        path: { "${params.outDir}/preprocessing/cutadapt" },
        mode: 'copy',
        pattern: "*log"
      ],
      [
        path: { "${params.outDir}/preprocessing/cutadapt" },
        mode: 'copy',
        pattern: "*fastq.gz",
        enabled: params.saveIntermediates
      ]
    ]
    ext.args = "-b T{10} -b T{15} -b T{20} -B T{10} -B T{15} -B T{20} -b $params.tag_cutadapt -B $params.tag_cutadapt --minimum-length 5 --overlap 10 --report=full"
    ext.prefix = { 
      meta.totchunk != null && meta.totchunk > 1 ? "${meta.id}_chunk${meta.chunk}" : 
      ( meta.totchunk == null && params.sampleDescription != null ? "${meta.id}_${meta.batch}" : "${meta.id}" )
    }
  }

  withName: 'fastqc' {
      ext.prefix = { 
      meta.totchunk != null && meta.totchunk > 1 ? "${meta.id}_chunk${meta.chunk}" : 
      ( meta.totchunk == null && params.sampleDescription != null ? "${meta.id}_${meta.batch}" : "${meta.id}" )
    }
  }


  
  /* Alignment ********************/
  withName: 'starAlign' {
    publishDir = [
      [
        path: { "${params.outDir}/alignment" },
        mode: 'copy',
        pattern: "*out"
      ],
      [
        path: { "${params.outDir}/alignment/junctions" },
        mode: 'copy',
        pattern: "*.out.tab"
      ]
    ]

    ext.args = {[
      params.starTwoPass ? '--twopassMode Basic' : '',
      params.starOpts ?: params.genome && params.genomes.containsKey(params.genome) ? params.genomes[ params.genome ].starOpts ?: params.starDefaultOpts : ''
    ].join(' ').trim()}

    ext.prefix = { 
      meta.totchunk != null && meta.totchunk > 1 ? "${meta.id}_chunk${meta.chunk}" : 
      ( meta.totchunk == null && params.sampleDescription != null ? "${meta.id}_${meta.batch}" : "${meta.id}" )
    }
  }


  /* BC info ********************/
  withName: 'barcodeListPerBatch' {
      publishDir = [
        path: { "${params.outDir}/alignment" },
        mode: 'copy',
        pattern: "*.txt",
        enabled: params.saveIntermediates
      ]
      ext.prefix = { 
      meta.totchunk != null && meta.totchunk > 1 ? "${meta.id}_chunk${meta.chunk}" : 
      ( meta.totchunk == null && params.sampleDescription != null ? "${meta.id}_${meta.batch}" : "${meta.id}" )
    }
  }

  withName: 'bc2tag' {
    publishDir = [
      path: { "${params.outDir}/alignment" },
      mode: 'copy',
      pattern: "*.bam",
      enabled: params.saveIntermediates
    ]
    ext.prefix = { 
      meta.totchunk != null && meta.totchunk > 1 ? "${meta.id}_chunk${meta.chunk}" : 
      ( meta.totchunk == null && params.sampleDescription != null ? "${meta.id}_${meta.batch}" : "${meta.id}" )
    }
    ext.args = "--tag ${params.barcodeTag}"
  }

  /* Merge & filter unaligned ********************/
  withName: 'samtoolsMergeChunk' {
    ext.prefix = {"${meta.id}"}
  }

  withName: 'filterUnaligned' {
    publishDir = [
      path: { "${params.outDir}/alignment" },
      mode: 'copy',
      pattern: "*.bam",
      enabled: params.saveIntermediates
    ]
    ext.prefix = {"${meta.id}_unaligned" }
    // Singleton == one of the two reads is unmapped
    // -F remove 0x0004=unmapped, 0x0008=mate unmapped
    // -f keep 0x001=read paired
    // MAPQ (mapping quality - describes the uniqueness of the alignment, 0=non-unique, >10 probably unique)
    ext.args = [
      params.rmSingleton ? "-F 0x0004 -F 0x0008 -f 0x0001" : "-F 0x0004",
      params.mapq > 0 ? "-q ${params.mapq}" : ""
    ].join(' ').trim()
  }

  /* Umi part ********************/
  //---------------------------------------------------------------
  withName: 'featureCountsUmis' {
    publishDir = [
      [
        path: { "${params.outDir}/umi/featureCounts" },
        mode: 'copy',
        pattern: "*.bam",
        enabled: params.saveIntermediates
      ],
      [
        path: { "${params.outDir}/umi" },
        mode: 'copy',
        pattern: "*.log"
      ],
      [
        path: { "${params.outDir}/umi" },
        mode: 'copy',
        pattern: "*.csv",
        enabled: params.saveIntermediates
      ],
      [
        path: { "${params.outDir}/umi" },
        mode: 'copy',
        pattern: "*.summary"
      ]
    ]
    ext.args = [
      params.featurecountsOpts ?: "-R BAM",
      params.genome in ['hg38', 'hg19', 'mm10', 'mm9'] ? "-g gene_name" : ""
    ].join(' ').trim()
    ext.prefix = { "${meta.id}_umi" }
  }

  withName: 'umi2tag' {
    ext.prefix = { "${meta.id}" }
    ext.args = "--tag ${params.umiTag}"
  }

  /*withName: 'umitoolsGroup' {
    publishDir = [
      [
        path: { "${params.outDir}/umi" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]
    ext.prefix = { "${meta.id}" }
  }*/

  withName: 'umitoolsDedup' {
    publishDir = [
      [
      path: { "${params.outDir}/umi" },
      mode: 'copy',
      pattern: "*.bam"
      ],
      [
        path: { "${params.outDir}/umi" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]
    ext.args = "--method=directional --per-cell --cell-tag=RG --per-gene --gene-tag=XT --assigned-status-tag=XS --extract-umi-method=tag --umi-tag=BX"
    ext.prefix = { "${meta.id}" }
  }

  withName: 'umitoolsCount' {
    publishDir = [
      [
      path: { "${params.outDir}/umi" },
      mode: 'copy',
      pattern: "*.tsv.gz"
      enabled: params.saveIntermediates
      ],
      [
        path: { "${params.outDir}/umi" },
        mode: 'copy',
        pattern: "*.log"
      ]
    ]
    ext.args = "--method=directional --per-cell --cell-tag=RG --per-gene --gene-tag=XT --assigned-status-tag=XS --extract-umi-method=tag --umi-tag=BX --cell-tag-split=___"
    ext.prefix = { "${meta.id}" }
  }

  /* Non Umi part ********************/
  //---------------------------------------------------------------

  withName: 'samtoolsMarkdup' {
    publishDir = [
      [
      path: { "${params.outDir}/reads" },
      mode: 'copy',
      pattern: "*.log"
      ],
      [
        path: { "${params.outDir}/reads" },
        mode: 'copy',
        pattern: "*.bam",
        enabled: params.saveIntermediates
      ]
    ]
  }

  withName: 'samtoolsFlagstat' {
    publishDir = [
      [
        path: { "${params.outDir}/reads" },
        mode: 'copy',
        pattern: "*flagstats"
      ]
    ]
  }

  withName: 'filterMarkdup' {
    publishDir = [
      path: { "${params.outDir}/reads" },
      mode: 'copy',
      pattern: "*.bam",
      enabled: params.saveIntermediates
    ]
    ext.prefix = { "${meta.id}_pcrdup" }
    // -F remove 0x0400=PCR dup
    ext.args = [
      params.keepDups ? "" : "-F 0x0400",
    ].join(' ').trim()
  }

  withName: 'featureCountsAll' {
    publishDir = [
      [
        path: { "${params.outDir}/reads" },
        mode: 'copy',
        pattern: "*.bam",
        enabled: params.saveIntermediates
      ],
      [
        path: { "${params.outDir}/reads" },
        mode: 'copy',
        pattern: "*.log"
      ],
      [
        path: { "${params.outDir}/reads" },
        mode: 'copy',
        pattern: "*.csv"
      ],
      [
        path: { "${params.outDir}/reads" },
        mode: 'copy',
        pattern: "*.summary"
      ]
    ]
    ext.args = [
      params.featurecountsOpts ?: "-R BAM --byReadGroup",
      params.genome in ['hg38', 'hg19', 'mm10', 'mm9']  ? "-g gene_name" : ""
    ].join(' ').trim()
    ext.prefix = { "${meta.id}_reads" }
  }

  withName: 'filterAllUnassigned' {
    publishDir = [
      path: { "${params.outDir}/reads" },
      mode: 'copy',
      pattern: "*.bam"
    ]
    ext.prefix = {"${meta.id}" }
    ext.args = "-d XS:Assigned" 
  }

  withName: 'featureCountsMatrix' {
    publishDir = [
      path: { "${params.outDir}/reads" },
      mode: 'copy',
      pattern: "*_matrix.tsv.gz",
      enabled: params.saveIntermediates
    ]
  }

  /* Metrics & graphs ********************/

  /*withName: 'preseq' {
    publishDir = [
      path: { "${params.outDir}/multiqc/mqc_files" },
      mode: 'copy',
      pattern: "*curve.txt"
    ]
    ext.args = "-e 2e8 -v --seed=1 --seg-len=200" 
  }*/

  //------------------- RSeqC
  withName: 'rseqcGeneBodyCoverage' {
    publishDir = [
      path: { "${params.outDir}/multiqc/mqc_files" },
      mode: 'copy',
      pattern: "*_log.txt"
    ]
  }

  withName: 'rseqcBamStat' {
    publishDir = [
      path: { "${params.outDir}/multiqc/mqc_files" },
      mode: 'copy',
      pattern: "*_log.txt"
    ]
  }

  withName: 'qualimapRNAseq' {
    publishDir = [
      path: { "${params.outDir}/multiqc/mqc_files" },
      mode: 'copy',
      pattern: "*_qualimap"
    ]
  }

  withName: '10xlikeMatrix' {
    publishDir = [
      [
        path: { "${params.outDir}/matrices" },
        mode: 'copy',
        pattern: "*.zip"
      ]
    ]
  }
  withName: 'multiqc' {
    publishDir = [
      [
        path: { "${params.outDir}/multiqc" },
        mode: 'copy',
        pattern: "*.html"
      ],
      [
        path: { "${params.outDir}/multiqc" },
        mode: 'copy',
        pattern: "general_stats.mqc"
      ]
    ]
  }

  withName:'getSoftwareVersions' {
    publishDir = [
      path: { "${params.outDir}/softwareVersions" },
      mode: 'copy'
    ]
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }

}