import java.io.File;

def checkProfileSingularity(path){
  if (new File(path).exists()){
    File directory = new File(path)
    def contents = []
    directory.eachFileRecurse (groovy.io.FileType.FILES){ file -> contents << file }
    if (!path?.trim() || contents == null || contents.size() == 0){
      println "   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See `--singularityImagePath` for advanced usage."
      System.exit(-1)
    }
  }else{
    println "   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See `--singularityImagePath` for advanced usage."
    System.exit(-1)
  }
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = (params.geniac.containers?.singularityRunOptions ?: '')
}

process {
  checkProfileSingularity("${params.geniac.singularityImagePath}")
  withLabel:R{ container = "${params.geniac.singularityImagePath}/r.sif" }
  withLabel:cutadapt{ container = "${params.geniac.singularityImagePath}/cutadapt.sif" }
  withLabel:deeptools{ container = "${params.geniac.singularityImagePath}/deeptools.sif" }
  withLabel:featurecounts{ container = "${params.geniac.singularityImagePath}/featurecounts.sif" }
  withLabel:multiqc{ container = "${params.geniac.singularityImagePath}/multiqc.sif" }
  withLabel:preseq{ container = "${params.geniac.singularityImagePath}/preseq.sif" }
  withLabel:python{ container = "${params.geniac.singularityImagePath}/python.sif" }
  withLabel:rseqc{ container = "${params.geniac.singularityImagePath}/rseqc.sif" }
  withLabel:samtools{ container = "${params.geniac.singularityImagePath}/samtools.sif" }
  withLabel:star{ container = "${params.geniac.singularityImagePath}/star.sif" }
  withLabel:umiTools{ container = "${params.geniac.singularityImagePath}/umitools.sif" }
  withLabel:qualimap{ container = "${params.geniac.singularityImagePath}/qualimap.sif" }
  withLabel:seqkit{ container = "${params.geniac.singularityImagePath}/seqkit.sif" }

}
