/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {
  // Limit resources so that this can run on Travis
  maxMemory = 40.GB
  maxCpus = 3
  maxTime = 2.h

  // Default params
  genome = 'hg38'
  protocol = 'flashseq'

  // Skip
  skipGeneCov = true
  skipSatCurves = true
  //skipBigWig = true

  // Input data
  if ( "${params.protocol}" == "smartseq3") {
    readDir = [
        ['V590', ["$projectDir/test/data"]]
    ]
  } else if ( "${params.protocol}" == "flashseq") {
    readDir = [
        ['V660', ["$projectDir/test/data"]]
    ]
  }
  
}
