/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {
  // Limit resources so that this can run on Travis
  maxMemory = 40.GB
  maxCpus = 3
  maxTime = 2.h

  // Default params
  genome = 'mm10'
  protocol = 'flashseq'

  chunkSize=2

  // Skip
  skipGeneBodyCovPlot = true
  skipSatCurvePlot = true

  // Input data
  if ( "${params.protocol}" == "smartseq3") {
    readDir = [
        ['V590', "$projectDir/test/data/smartseq3"]
    ]
  } else if ( "${params.protocol}" == "flashseq") {
    readDir = [
        ['D1502', "$projectDir/test/data/flashseq"]
    ]
  }
  
}
